@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 90%;
}
.nav {
  list-style: none;
}
.navbar {
  width: 100%; /*Omar change*/
}
.navbar .nav {
  display: grid;
  grid-template-columns: 20% 50% 10% 20%;
  padding: 10px;
  width: 100%;
  align-items: center;
}

.logo {
  color: black;
  font-size: 2.4rem;
  cursor: pointer;
}
.logo span {
  color: #0171df;
  font-weight: 700;
}

.search-container input {
  width: 80%;
  height: 34px;
  background: #f7f7f7;

  outline: none;
  text-indent: 10px;
  border: #aaa 1px solid;
  border-radius: 10px;
}
.search-container input::placeholder {
  color: #aaa;
}

.search-btn {
  width: 40px;
  height: 34px;
  outline: none;
  background: #f7f7f7;
  border: #aaa 1px solid;
  border-radius: 20%;
  cursor: pointer;
}

.nav-element.icons i {
  font-size: 30px;
  color: black;
}

.nav-element.icons a {
  display: flex;
  color: black;
}
.nav-element.icons a:hover {
  color: #7f218b;
}

.nav-element.icons {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.categories-nav {
  display: flex;
  background-color: #0171df;
  justify-content: space-around;
  text-align: center;
  overflow: hidden;
  z-index: 20;
  width: 100%;
  position: absolute;
  left: 0;
}

.categories-nav .categories-items {
  list-style: none;
  width: 90%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.categories-nav .categories-items a {
  list-style: none;
  display: flex;
  align-items: center;
}

.categories-nav .categories-items .categories-item {
  display: flex;
  flex-direction: row;
}

.categories-nav .categories-items .categories-item a,
.categories-nav .categories-items .categories-item svg {
  color: white;
  font-size: 20px;
  margin: 0 5px;
}

.slideshow-container {
  width: 100vw;
  margin-left: calc((100% - 100vw) / 2);
  height: 50vh;
  background-color: #ececec;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.09'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  position: relative;
  display: flex;
  justify-content: center;
}

.slideshow-container .slider-element {
  display: grid;
  grid-template-columns: 5% 55% 35% 5%;
  align-items: center;
}

.slides img {
  width: 80% !important;
}

.slide-desc {
  text-align: start;
}

.slide-desc p,
.slide-desc h3,
.slide-desc button {
  margin-left: 20%;
}

.slide-desc p {
  color: #3183d6;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.slide-desc h3 {
  font-weight: 200;
  font-size: 2.6rem;
  line-height: 1.2;
}

.slide-desc h3 span {
  font-weight: 600;
  color: red;
}

.btn {
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0171df;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 35px;
  transition: 0.5s;
  font-size: 1rem;
}

.btn:hover {
  background-color: #0a3e72;
}

.slideshow-container .prev,
.slideshow-container .next {
  background-color: rgba(192, 192, 192, 0.527);
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.slideshow-container .prev:hover,
.slideshow-container .next:hover {
  background-color: rgba(85, 85, 85, 0.527);
}

.slider-element {
  display: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.features {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.feature {
  display: flex;
  justify-content: center;
  text-align: start;
  align-items: center;
  margin-left: 30px;
}

.feature-icon {
  color: #0171df;
}

.feature-text {
  padding: 10px;
  margin-left: 20px;
}

.feature-text-weighted {
  font-size: 1.4rem;
  font-weight: 500;
}

.deals {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.deals .bar {
  display: flex;
  justify-content: space-between;
}

.deals .bar .bar-text {
  font-size: 1.5rem;
  padding: 10px 0;
}

.view-all {
  font-size: 1.3rem;
  padding: 10px 0;
}
.view-all a {
  color: #aaa;
}

.footer {
  height: 100px;
  background-color: #0171df;
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.footer h3 {
  display: flex;
  align-items: center;
  color: white;
}
