.product-wrapper {
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.product-container {
  display: flex;
}

.images-container {
  width: 60%;
}

.images-container img {
  width: 65%;
}

.info-container {
  width: 30%;
  text-align: start;
}

.info-container h5 {
  font-weight: 300;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.76);
}

.info-container h4 {
  color: green;
  margin-top: 5px;
}

.info-container h3 {
  font-size: 1.7rem;
}

.info-container h2 {
  font-size: 1.3rem;
  margin: 20px 0;
}

.info-container h2 span {
  font-size: 1.3rem;
  font-weight: 500;
}

.info-container p {
  color: rgba(0, 0, 0, 0.767);
}

.btn-product {
  display: flex;
  justify-content: center;
}

.btn-product button {
  width: 100%;
  height: 70%;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  background-color: #2d8b07bb;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 10px;
  transition: 0.5s;
}

.btn-product button:hover {
  background-color: #207000f1;
}

.btn-product button p {
  color: white;
}

.btn-product svg {
  margin-right: 15px;
}

.more-products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.more-products h1 {
  text-align: start;
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 22%;

  border-radius: 20px;
  box-shadow: 10px 12px 25px rgba(104, 104, 104, 0.267);
  margin: 15px;
}

.img-container img {
  width: 100%;
  padding: 20px;
}

.product-controls {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.product-desc {
  margin: 8px 0px;
  margin-left: 15px;
}

.product-controls .btn-product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.product-controls .btn-product {
  width: 100%;
  margin-bottom: 10px;
}

.product-controls .btn-product button {
  width: 90%;
  margin: 10px;
  padding: 3px 12px;
}
